body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-icon {
  margin-left: 10px;
}

/* Footer */
.footer-app {
  color: #fff;
}

/* Game container */
.footer-app {
  font-size: 1.2rem;
}

.game-container {
  margin-bottom: 150px;
}

.img-logo {
  width: 100px;
  height: 100px;
}

.img-car {
  width: 100px;
}

/* Podium */
.podium-positions {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.podium-position {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  /* border: 1px solid black; */
  align-content: center;
  padding: 20px;
}

.podium-image {
  width: 30%;
  margin-left: 35%;
  margin-left: 35%;
}

/* Input container */
.input-container {
  padding: 20px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.dropdown {
  width: 50%;
}

.select-row {
  width: 100px;
}
