body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-icon {
  margin-left: 15px;
}

/* Footer */
.footer-app {
  color: #fff;
}

/* Game container */
.footer-app {
  font-size: 1.2rem;
}

.game-container {
  margin-bottom: 150px;
}

.img-logo {
  width: 100px;
  height: 100px;
}

.img-car {
  width: 100px;
}
