body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgray;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-icon {
  margin-left: 10px;
}

/* Footer */
.footer-app {
  color: #fff;
}

/* Game container */
.footer-app {
  font-size: 1.2rem;
}

.game-container {
  margin-bottom: 150px;
}

.img-logo {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-left: 20px;
}

.img-car {
  width: 100px;
  padding: 20px;
  margin-left: 20px;
}

/* Podium */
.podium-positions {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

.podium-position {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  /* border: 1px solid black; */
  align-content: center;
  padding: 20px;
}

.podium-image {
  width: 30%;
  margin-left: 35%;
  margin-left: 35%;
}

/* Input container */
.input-container {
  padding: 20px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.dropdown {
  width: 50%;
}

.select-row {
  width: 100px;
}

.input-select {
  width: 100%;
}

.btn-start {
  width: 100%;
}

.img-pic-card {
  width: 100%;
  border: none;
}

.img-car-card {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
}

.game-frame {
  margin-left: 170px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.lane-frame {
  position: relative;
  border: 1px dashed black;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-title {
  padding: 10px;
  margin-left: 20%;
}

.leaderboards {
  position: fixed;
  padding: 15px;
  right: 40px;
  top: 65px;
  height: 72vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.img-car-frame {
  height: 50px;
  position: relative;
  /* left: 5px; */
  top: 20px;
}

.img-pic-frame {
  height: 40px;
}

.lane-info {
  margin-left: -150px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.distances {
  width: 100%;
  text-align: center;
  height: 30px;
}
